{#{% extends 'check_base.html' %}#}
{% block title %}巡检{% endblock %}
{% load staticfiles %}
{#{% block page_path %}机构首页{% endblock %}#}
 <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
{% block right_form %}
<div class="right companycenter layout grouping" >
		<div class="head">
			<h1>定位1</h1>
		</div>

{#		<div class="brief group_list">#}
{#            {% for course in all_resource %}#}
{#                <div class="module1_5 box">#}
{#                    <a href="course-detail.html"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>#}
{#                    <div class="des">#}
{#                        <a href="course-detail.html"><h2>{{ course.resource_name }}</h2></a>#}
{#                        <span class="fl">IP：<i class="key">{{ course.resource_IP }}</i></span>#}
{#                        <span class="fr">所属系统：{{ course.resource_system }}</span>#}
{#                    </div>#}
{#                    <div class="bottom">#}
{#                        <span class="fl">{{ 123123}}</span>#}
{#                         <span class="star fr  notlogin#}
{#                            " data-favid="13"  data-fav-type="4">#}
{#                            {{ course.fav_nums }}#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}



</table>



		</div>
    <div>
        <table border="1">

  <tr>
    <th>服务器名称</th>
    <th>IP</th>
      <th>服务器Id</th>
  <th width="20">CPU占用率(%) </th>
  <th width="10">内存使用率(%)</th>
  <th width="20">硬盘使用率(%)</th>
   <th>中间件</th>
   <th>数据库</th>
   <th >故障描述 </th>
  </tr>
                <form class="rightform" id="jsStayForm" >
                 {% for course in all_resource %}
  <tr >
      <td>{{course.resource_name  }}</td>
    <td>{{ course.resource_IP }}</td>
     <td>{{ course.id }}</td>

 <input type="hidden" name="dev_id" id="dev_id" value={{ course.id }}>
  <td ><input type="text" name="ckeckCPU" id="ckeckCPU" placeholder="1-100" maxlength="30" size="5" value=50></td>
  <td><input type="text" name="checkMEM" id="checkMEM" placeholder="1-100" maxlength="30" size="5" value=50></td>
  <td><input type="text" name="checkDISK" id="checkDISK" placeholder="1-100" maxlength="30" size="5" value=50></td>
  <td><input type="text" name="checkmiddleware" id="checkmiddleware" placeholder="正常" maxlength="30" size="5" value=True></td>
  <td><input type="text" name="checkdatabase" id="checkdatabase" placeholder="正常" maxlength="30" size="5" value=True></td>
   <td><input type="text" name="details" id="details" placeholder="无" maxlength="30" size="50" value="无"></td>
  </tr>
              {% endfor %}
        </table>

    </div>
	</div>

	<div class="right companyright">
			<div class="head">定位2</div>

				<div>
                    <a>巡检人</a>
                    <input type="text" name="user_name" id="companyName" placeholder="user_name" maxlength="25" />
                </div>
				<div>
                    <a>系统ID</a>
                    <input type="text" name="system_name" id="companyMobile" placeholder="system_name"/>
                </div>
				<div>
                      <a>是否正常</a>
                    <input type="text" name="sysisnormal" id="companyAddress" placeholder="sysisnormal" maxlength="50" />
                </div>
                	<div>
                     <a>psef是否正常</a>
                    <input type="text" name="psef" id="companypsef" placeholder="psef" maxlength="50" />
                </div>
                <p class="error company-tips" id="jsCompanyTips"></p>
				<input class="btn" type="text" id="jsStayBtn" value="立即咨询 >" />
                {% csrf_token %}
            </form>
		</div>
{#<div class="right companycenter layout" >#}
{#    <div class="head">#}
{#        <h1>机构教师</h1>#}
{#        <a class="green fr more" href="org-detail-teachers.html">查看更多  >  </a>#}
{#    </div>#}
{#    {% for teacher in all_teachers %}#}
{#    <div class="diarys">#}
{#        <div class="module5 share company-diary-box" style="padding:10px 0;">#}
{#            <div class="left">#}
{#                <img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/>#}
{#                <p>昵称：{{ teacher.name }}</p>#}
{#            </div>#}
{#            <div class="right">#}
{#                <div class="top">#}
{#                    <div class="fl">#}
{#                        <a href=""><h1>java开发教程</h1></a>#}
{#                        <span>发表于：2015-10-12</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="middle" style="border-bottom:0;">课程介绍</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{##}
{#</div>#}
{#<div class="right companycenter layout" >#}
{#    <div class="head">#}
{#        <h1>机构介绍</h1>#}
{#        <a class="green fr more" href="org-detail-desc.html">查看更多  >  </a>#}
{#    </div>#}
{#<div class="cont">#}
{#    &nbsp; &nbsp;#}
{#    {{ course_org.desc }}#}
{##}
{#  <a href="/company/desc/22/">#}
{#    <span class="green">[查看更多]</span></a>#}
{#</div>#}
{#</div>#}
{% endblock %}

{% block custom_js %}
<script>
    $(function(){
        $('#jsStayBtn').on('click', function(){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'add_ask' %}",
                data:$('#jsStayForm').serialize(),
                async: true,
                success: function(data) {
                    if(data.status == "success"){
                        $("#jsStayForm")[0].reset();
                        alert("提交成功")
                    }else if(data.status == 'fail'){
                        $('#jsCompanyTips').html(data.msg)
                    }
                },
            });
        });
    })

</script>
{% endblock %}